[bgpm]
runjob: /usr/bin/runjob

[bgsystem]
diag_script_location: /software/common/apps/cobalt-diags
diag_log_file: {{SC_RUNDIR}}/log/diags.log
bgtype: bgq
kernel: false
allow_alternate_kernels: false
cn_default_kernel: default
ion_default_kernel: default
partitionboot: /bgsys/argonne-utils/partitions
bootprofiles: /bgsys/argonne-utils/profiles
subblock_prefix: VST
subblock_config: {{COBALT_PARTNAME}}:1
ignore_subblock_sizes: 64,32
max_reboots: 3

[forker]
ignore_setgroup_errors = True

[bgsched]
utility_file: {{SC_CONFIGPATH}}/cobalt.utility
use_db_logging: false
max_queued_msgs: 10000
# overflow_file: /projects/JCESR/fireworks/var/spool/cobalt/overflow/bgsched_overflow
db_flush_interval: 1.0

[cqm]
log_dir: {{SC_RUNDIR}}/log/
#WRS# We'll eventually abuse this to automate Fireworks cleanup
#filters: /soft/cobalt/scripts/clusterbank-account
job_prescripts: /bin/true
#EAS#job_prescripts: /bgsys/argonne-utils/filters/wait_fail_clear.sh:/bgsys/argonne-utils/filters/check_error_file.pl
#EAS#job_postscripts: /bgsys/argonne-utils/filters/save_job_data.pl
#resource_postscripts: /bgsys/argonne-utils/filters/release_resource_locks.sh
# resource_prescripts: /soft/scripts/resource_prescript_1:/soft/scripts/resource_prescript_2
# resource_postscripts: /soft/scripts/resource_postscript_1:/soft/scripts/resource_postscript_2
# job_postscripts: /soft/scripts/job_postscript_1:/soft/scripts/job_postscript_2
# filters: /soft/scripts/filter_1:/soft/scripts/filter_2
# progress_interval: 1.0
# poll_process_groups_interval: 1.0
cqstat_header_full: JobID:JobName:User:Score:WallTime:QueuedTime:RunTime:Nodes:State:Location:Mode:Procs:Queue:StartTime
use_db_logging: false
#max_queued_msgs: 10000
#overflow_file: /projects/JCESR/fireworks/var/spool/cobalt/overflow/cqm_overflow
#db_flush_interval: 1.0

[system]
size: {{max_jobsize}}

[gravina]
#simulator_xml:/dev/null

[bgsystem]
bg_properties: /bgsys/local/etc/bg.properties

[components]
service-location=https://{{slp.srv_host_name}}:{{slp.srv_local_port}}
system=https://{{bgqsystem.srv_host_name}}:{{bgqsystem.srv_local_port}}
queue-manager=https://{{cqm.srv_host_name}}:{{cqm.srv_local_port}}
bg_runjob_forker=https://{{bg_runjob_forker.srv_host_name}}:{{bg_runjob_forker.srv_local_port}}
scheduler=https://{{bgsched.srv_host_name}}:{{bgsched.srv_local_port}}
user_script_forker=https://{{user_script_forker.srv_host_name}}:{{user_script_forker.srv_local_port}}
system_script_forker=https://{{system_script_forker.srv_host_name}}:{{system_script_forker.srv_local_port}}
cdbwriter=https://{{cdbwriter.srv_host_name}}:{{cdbwriter.srv_local_port}}


[communication]
key: {{SC_CONFIGPATH}}/cobalt.key
cert: {{SC_CONFIGPATH}}/cobalt.cert
ca: {{SC_CONFIGPATH}}/cobalt.cert
password: {{password}}

[statefiles]
location: {{SC_RUNDIR}}/state

[cdbwriter]
# removed to protect innocent

[client]
allow_cqadm_hold_and_release_options: true

[logger]
to_syslog: false
syslog_level: INFO
# syslog_location: /var/run/syslog
# syslog_facility: local7
to_console: true
console_level: 0
